{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}


<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in category %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ product.image | media_filter }}">
            <div class="card-body">
              <p class="card-text">{{ product.name | upper }}</p>
              <p class="card-text">Цена: {{ product.price }} руб.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}